html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--font-general);
    /* =10px */
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
body{
    background-color: black;
    color: white;
    padding: 1% 2%;
}
button{
    margin: 5px;
}